body {
  background-image: url("https://img.freepik.com/free-photo/solid-concrete-wall-textured-backdrop_53876-129493.jpg?w=1380&t=st=1681592036~exp=1681592636~hmac=0ee2fa8c5d804370e61051eddbba7e2dad71af87186475fb82132f4bb5730106");
  background-repeat: repeat;
  background-size: cover;
  backdrop-filter: blur(20px);
}
.audio-bars {
  display: flex;
  justify-content: center;
}
.bar {
  width: 3px;
  height: 15px;
  margin: 0 6px;
  background-color: #ffffff;
  animation: audioBars 2.1s ease-out infinite;
}
.bar2 {
  width: 3px;
  height: 15px;
  margin: 0 6px;
  background-color: #ffffff;
  animation: audioBars 2.2s ease-out infinite;
}
.bar3 {
  width: 3px;
  height: 15px;
  margin: 0 6px;
  background-color: #ffffff;
  animation: audioBars 2.3s ease-out infinite;
}
.bar4 {
  width: 3px;
  height: 15px;
  margin: 0 6px;
  background-color: #ffffff;
  animation: audioBars 2.4s ease-out infinite;
}
.bar5 {
  width: 3px;
  height: 15px;
  margin: 0 6px;
  background-color: #ffffff;
  animation: audioBars 2.5s ease-out infinite;
}
@keyframes audioBars {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(3);
  }
  100% {
    transform: scaleY(1);
  }
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 15px;
  border: 6px solid transparent;
  background-clip: content-box;
}
